<nav class="bg-dark w-100 px-5 text-center d-flex justify-content-between align-items-center">
    <div id="part-1">
        <h1 class="text-lg text-white">BS</h1>
    </div>
    <div id="part-2 p-3 text-center">
    <a class="text-decoration-none me-5 text-white fs-5" href="/">Home</a>
    <a class="text-decoration-none me-5 text-white fs-5" href="library">Library</a>
    <a class="text-decoration-none me-5 text-white fs-5" href="/about">About</a>
    </div>
    <div id="login" >
        <a href="/login" class="btn btn-primary px-4">Login</a>

    </div>
</nav>