<%- include('./partials/header')%>

<%- include('./partials/nav')%>
<div id="back" class="d-flex justify-content-start align-items-center py-3">
   <a href="/library" class="text-decoration-none text-dark">
    <i class="ri-arrow-left-line fs-1 ps-4"></i>
   </a>
<h1 class="px-4">Book Details</h1>
</div>

<div id="detail" class="d-flex justify-content-center align-items-start">
        <img src="https://images.unsplash.com/photo-1589998059171-988d887df646?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="w-25 h-25 p-4 justify-content-center">
        
        <div id="details" class="w-75 p-4">
            <h1>Book title 01</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quasi quisquam culpa reiciendis ab perferendis soluta neque, veniam eaque saepe cupiditate corporis modi sequi magni dignissimos non molestiae sit itaque laboriosam distinctio a maiores, voluptatum ullam. Maiores repudiandae sit mollitia enim tempora totam? Numquam delectus possimus quam! Sit nulla adipisci quas earum necessitatibus eligendi asperiores ex, soluta repellat laboriosam eos voluptas aut quaerat recusandae libero excepturi placeat quisquam quae temporibus officiis. Tempora mollitia totam, qui vel dicta ut voluptatibus voluptatum sit odit nulla rem nisi, omnis sed cupiditate blanditiis officiis asperiores quisquam culpa saepe distinctio fuga repellendus natus sint. Hic dolores rerum numquam perferendis debitis recusandae, harum doloremque. Quia, iusto!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quasi quisquam culpa reiciendis ab perferendis soluta neque, veniam eaque saepe cupiditate corporis modi sequi magni dignissimos non molestiae sit itaque laboriosam distinctio a maiores, voluptatum ullam. Maiores repudiandae sit mollitia enim tempora totam? Numquam delectus possimus quam! Sit nulla adipisci quas earum necessitatibus eligendi asperiores ex, soluta repellat laboriosam eos voluptas aut quaerat recusandae libero excepturi placeat quisquam quae temporibus officiis. Tempora mollitia totam, qui vel dicta ut voluptatibus voluptatum sit odit nulla rem nisi, omnis sed cupiditate blanditiis officiis asperiores quisquam culpa saepe distinctio fuga repellendus natus sint. Hic dolores rerum numquam perferendis debitis recusandae, harum doloremque. Quia, iusto!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quasi quisquam culpa reiciendis ab perferendis soluta neque, veniam eaque saepe cupiditate corporis modi sequi magni dignissimos non molestiae sit itaque laboriosam distinctio a maiores, voluptatum ullam. Maiores repudiandae sit mollitia enim tempora totam? Numquam delectus possimus quam! Sit nulla adipisci quas earum necessitatibus eligendi asperiores ex, soluta repellat laboriosam eos voluptas aut quaerat recusandae libero excepturi placeat quisquam quae temporibus officiis. Tempora mollitia totam, qui vel dicta ut voluptatibus voluptatum sit odit nulla rem nisi, omnis sed cupiditate blanditiis officiis asperiores quisquam culpa saepe distinctio fuga repellendus natus sint. Hic dolores rerum numquam perferendis debitis recusandae, harum doloremque. Quia, iusto!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quasi quisquam culpa reiciendis ab perferendis soluta neque, veniam eaque saepe cupiditate corporis modi sequi magni dignissimos non molestiae sit itaque laboriosam distinctio a maiores, voluptatum ullam. Maiores repudiandae sit mollitia enim tempora totam? Numquam delectus possimus quam! Sit nulla adipisci quas earum necessitatibus eligendi asperiores ex, soluta repellat laboriosam eos voluptas aut quaerat recusandae libero excepturi placeat quisquam quae temporibus officiis. Tempora mollitia totam, qui vel dicta ut voluptatibus voluptatum sit odit nulla rem nisi, omnis sed cupiditate blanditiis officiis asperiores quisquam culpa saepe distinctio fuga repellendus natus sint. Hic dolores rerum numquam perferendis debitis recusandae, harum doloremque. Quia, iusto!</p>
            
        </div>
    
       
       
</div>

<%- include('./partials/footer')%>
