<%- include('./partials/header')%>

<%- include('./partials/nav')%>

    <div id="main-login" class="my-5 w-100 d-flex flex-column justify-content-center align-items-center ">
      <h1 class="">Login</h1> 

    <form action="/login" method="post" class="form-control mt-5 w-50 d-flex flex-column align-items-center justify-content-between">
      <label for="" class="w-50 text-md">User Name</label>
        <input class="w-50 p-1" type="text" name="username" placeholder="User Name">
        <br>
        <label for="" class="w-50 text-md">Password</label>
        <input class="w-50 p-1" type="password" name="password" placeholder="Password">
<br><br>
      <a href="/" class="btn btn-primary w-50">Login</a>

      <p class="mt-3">New User? <a href="/register" class="text-decoration-none text-danger ">Register</a></p>
    </form>
    </div>

<%- include('./partials/footer')%>

